@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
    background-image: url("https://i.imgur.com/0YUegkg.gif");
    background-size: 100% 720px;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
   font-family: 'Dancing Script', cursive;
}
button {
  display: inline-block;
  position: relative;
  border: 1px solid #white !important;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  z-index: 1;
  overflow: hidden;
  background-color: #2C2F33;
}
.center-skew-hover {
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.4s ease-in-out;
  -ms-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}
.center-skew-hover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 50%;
  z-index: -1;
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  transform: skewX(-30deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.center-skew-hover:hover {
  color: blue;
  cursor: pointer;
}
.center-skew-hover:hover:before {
  right: 0%;
  left: 0%;
  margin-left: -1em;
  margin-right: -1em;
  background: white;
}
